In [3]:
import yfinance as yf
stock_name = 'BAC'
start_date = "2019-01-01"
end_date = "2023-12-31"
output_name = stock_name+'_Price.csv'
BAC = yf.download(stock_name, start=start_date, end=end_date)
BAC.to_csv(output_name)

[*********************100%%**********************]  1 of 1 completed

In [4]:
BAC

                 Open       High        Low      Close  Adj Close    Volume
Date
2019-01-02  24.080000  25.139999  24.010000  24.959999  22.099754  71836300
2019-01-03  24.940001  25.040001  24.450001  24.559999  21.745594  66599600
2019-01-04  25.100000  25.650000  25.030001  25.580000  22.648712  83829100
2019-01-07  25.559999  25.780001  25.290001  25.559999  22.631002  57016300
2019-01-08  25.719999  25.790001  25.090000  25.510000  22.586737  67339400
...               ...        ...        ...        ...        ...       ...
2023-12-22  33.209999  33.669998  33.200001  33.430000  33.430000  37258100
2023-12-26  33.450001  33.959999  33.369999  33.860001  33.860001  24845400
2023-12-27  33.799999  33.950001  33.660000  33.840000  33.840000  24498600
2023-12-28  33.820000  33.970001  33.770000  33.880001  33.880001  21799600
2023-12-29  33.939999  33.990002  33.549999  33.669998  33.669998  28037800

[1258 rows x 6 columns]